
<div class="agsp-margin-top"></div>
<app-card title="Nouveau bureau d'étude">
  <div class="page-container">
    <form [formGroup]="bureauEtudeFormGroup">

        <mat-form-field class="col-6">
          <mat-label>Désignation </mat-label>
          <input matInput formControlName="designation">
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Numéro</mat-label>
          <input matInput formControlName="numero">
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailResponsable" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="telephoneResponsable"  pattern="(\+212|0)([ \-_/]*)(\d[ \-_/]*){9}">
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Fax</mat-label>
          <input matInput formControlName="fax">
        </mat-form-field>


        <mat-form-field class="col-6">
          <mat-label>Nom complet du responsable</mat-label>
          <input matInput formControlName="nomCompletResponsable">
        </mat-form-field>

        <div class="btn-right col-10" >
          <button mat-flat-button class=" primary ajouter-propr-btn"  (click)="ajouterBureauEtude()">Enregistré</button>
        </div>


    </form>
  </div>
</app-card>
