.example-input-wrapper {
  margin-bottom: 16px;
}
.container{
  width: 85vw !important;
  margin: auto !important;
}
label {
  margin-right: 4px;
}
table {
  max-width: 80vw;
  min-width: 80vw;
}

.mat-form-field {
  font-size: 14px;
  width: 45%;
  padding: 10px;
}

td, th {
  width: 40%;
}

.page-container {
  width: 80vw;
}

.ajouter-propr-btn {
  background-color: #006cc2;
  color: white;
  margin-top: 5px !important;
  min-height: 40px !important;
}

.section-btn {
  display: grid;
  justify-content: end;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.oppenSnackBarSuccessClass {
  color: #FFF;
  background-color: #008000;
}

.oppenSnackBarFailureClass {
  color: #FFF;
  background-color: #FF0000;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.btn-right{
  text-align: right;
}
.mat-input-element:disabled
{
  color: black;
}
