/*** global styles ***/

* {
  font-family: WorkSans, sans-serif;
  box-sizing: border-box;
}

.cursor {
  cursor: pointer;
}

.menu-item {
  font-size: 14px;
  color: #0c4470;
  font-weight: bold;
  margin: 0;
}

.submenu-item {
  font-size: 14px;
  color: #0c4470;
  font-weight: 500;
  margin: 0;
}

/* states of a menu item when  clicked */
.is-active {
  color: #00b4ef;
}

.is-inactive {
  color: #0c4470;
}

.no-outline:focus {
  outline: none;
}

/* page container */
mat-sidenav-container {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
}

/***  sidenavbar ***/

mat-sidenav {
  height: 100%;
  width: 200px;
  position: fixed !important;
  padding: 10px;
  background-color: #ebe9e9 !important;
  border: none;
  transition: width 0.5s;
}

mat-sidenav.sidenavbar-is-opened {
  width: 200px;
}

mat-sidenav:hover {
  width: 312px;
}

.mat-drawer-side {
  border: none;
}

/* sidenavbar content container */
.sidenavbar-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden !important;
}

/* sidenavbar header */
.sidenavbar-header {
  width: 100%;
  margin-bottom: 5px;
}

.sirhus-logo {
  height: 35px;
}

/* logout container */
.logout-container {
  width: 286px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* anonymous icon */
.icon-anonymous img {
  height: 35px;
  border-radius: 50%;
  margin-right: 20px !important;
}

/* full name */
.full-name {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #00b4ef;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

/* logout icon */
.logout img {
  width: 19.2px;
  height: 20.7px;
}

/* mes modules container */
.mes-modules-container {
  width: 290px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* mes modules icon container */
.mes-modules-icon {
  margin-right: 30px;
}

.mes-modules-icon2 {
  margin-right: 40px;
}

/* mes modules icon */
.mes-modules-icon img {
  width: 30px;
  object-fit: contain;
}

/* le titre mes modules */
.mes-modules-titre {
  flex-grow: 1;
  color: #003d4c;
}

/* mat-expansion-panel */

.menu-icon {
  object-fit: contain;
  max-width: 35px;
  margin: 0;
}

.menu-panel .mat-expansion-panel-header {
  padding-left: 5px !important;
  padding-right: 10px !important;
}

.menu-panel .mat-expansion-panel-header:hover {
  background-color: #dbdbdb !important;
}

.menu-panel mat-panel-title {
  margin-right: 30px;
}

.menu-panel .mat-expansion-panel {
  background-color: #ebe9e9 !important;
  margin: 0 !important;
  width: 280px !important;
}

.menu-panel .mat-expansion-panel-body {
  background-color: #ebe9e9;
  padding: 0 !important;
  padding-left: 15px !important;
}

.submenu {
  width: 100%;
  height: 45px;
  background-color: #ebe9e9;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.submenu:hover {
  background-color: rgb(219, 219, 219);
}

.submenu-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.submenu-title-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.submenu-no-child-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.menu-no-child-title-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* sidenavbar footer */
.sidenavbar-footer {
  margin-top: 10px;
}

/*** page content ***/

mat-sidenav-content {
  width: auto;
  height: 100vh;
  margin: 0;
  /* padding: 10px; */
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

/* navbar */
.navbar {
  display: none;
  background-color: #f0f0f0 !important;
}

#main-toolbar {
  display: none;
  background-color: #f0f0f0 !important;
}

.menu-icon {
  height: 35px;
}

/* dynamic content */
.content {
  flex-grow: 1 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px !important;
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
  }

  #main-toolbar {
    display: flex;
  }

  mat-sidenav.sidenavbar-is-opened {
    width: 312px;
  }

  mat-sidenav {
    width: 312px;
  }

  mat-sidenav:hover {
    width: 300px;
  }
}

.fa-stack {
  font-size: 21px;
  margin-left: -10px;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 30%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: white;
  background: #00a65a;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

.bell-class {
  /*color: rgb(148, 148, 148);*/
  color: #ac76b1;
}

.badge {
  background: #00a65a;
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -5px;
  padding: 5px;
  color: white;
  font-size: 9px;
}

.info-version-date-release {
  font-size: 12px !important;
  color: black;
  margin-bottom: -50px;
  margin-left: 20px !important;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column;
}

.logo-sofrecom {
  margin-left: -20px;
  align-self: start;
}

.version-container {
  align-self: center;
}
.lang-container {
  align-self: center;
  margin-top: -12px;
}
.version {
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 12em;
  color: black;
}

.class1::before {
  content: 'Version:';
}
.class2::before {
  content: '';
}
.lang-font {
  font-size: 11px !important;
  color: black;
  margin-top: 20px;
}
.lang-button {
  margin-top: 10px;
}
.logo-widh-img{
  width: 40%;
}
