/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.agsp-margin-top {
  margin-top: 10vh;
}
.mat-card {
  background: white;
  color: black;
}
.oppenSnackBarSuccessClass {
  color: #FFF;
  background-color: #008000;
}

.oppenSnackBarFailureClass {
  color: #FFF;
  background-color: #FF0000;
}
